<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">T Education</a>
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fpnh22-2.fna.fbcdn.net/v/t1.6435-1/p160x160/183509349_1629518850575806_7281232115559368614_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=7206a8&_nc_ohc=c8597FNWzTwAX8oF0An&_nc_ht=scontent.fpnh22-2.fna&tp=6&oh=02ee161a262678a0b17698f8297a4b0f&oe=60DFDE96" class="user-avatar">
            Thomas Luu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng Khóa học</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="/me/store/mycourses">Khóa học của tôi</a>
             <a class="dropdown-item" href="/me/store/myposts">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
  </div>
</nav>