<div class="mt-4">
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Type sth you are looking">
            <label for="search-input">Searching</label>
        </div>
        <button type="submit" class="btn btn-primary"> Search </button>
    </form>
</div>